<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>WebRTC All Browser</title>
    <script src="{{ url_for('static', filename='js/reader.js') }}"></script>
    <style>
        video { background:black; margin:10px; }
    </style>
</head>
<body>

    <video id="cam1" controls muted autoplay width="640" height="480"></video>

</body>
<script>
    let reader = null;
    const mediaMTX_ip = "{{ MEDIAMTX_HOST }}";

    window.addEventListener("load", () => {
        reader = new MediaMTXWebRTCReader({
            url: `http://${mediaMTX_ip}:8889/cam1`,
            user: "", // fill if needed
            pass: "", // fill if needed
            token: "", // fill if needed
            onError: (err) => {
                console.error(err);
            },
            onTrack: (evt) => {
                document.getElementById("cam1").srcObject = evt.streams[0];
            },
        });
    });

    window.addEventListener("beforeunload", () => {
        if (reader !== null) {
            reader.close();
        }
    });
</script>
</html>
