{% extends "layout.html" %}
{% block content %}

<h2>Sample Page</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium 
massa non risus dignissim, vitae suscipit est elementum. Aenean ultricies 
lorem eget orci consequat, vitae laoreet ipsum gravida. Cras viverra 
blandit euismod. Donec tempor faucibus augue, et tempus augue fermentum non.
</p>

<p>
Mauris vehicula purus vitae tortor tincidunt, quis dapibus risus eleifend.
Phasellus tincidunt luctus eros, nec dictum orci. Sed dignissim mi mauris,
in molestie sapien vehicula vitae.
</p>

{% endblock %}
